body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    p {
        color: #ffffff;
    }

    ul li, ol li {
      color: white !important;
    }
    a {
      background: none !important;
      text-decoration: none !important;
      box-shadow: none !important;
    }

    a:hover {
      background: none !important;
      box-shadow: none !important;
    }
    .filetree-sidebar {
        width: 350px;
    }
    table {
      display: block;
      overflow-x: auto;
      max-width: 100%;
    }
}
